{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<!--Main informations-->
<table class="table"t>
    <thead>
        <tr>
            <th scope="col">User Cash</th>
            <th scope="col">Portfolio Value</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{user_cash}}</td>
            <td>{{portfolio_cash}}</td>
            <td>{{user_total}}</td>
        </tr>
    </tbody>
</table>

<!--Portfolio-->
<table class="table"t>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Shares</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in portfolio %}
        <tr>
            <td>{{ entry["symbol"] }} - {{ entry["name"] }}</td>
            <td>{{ entry["price"] }}</td>
            <td>{{ entry["shares"] }}</td>
            <td>{{ entry["total"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
