{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

<div class="container">

    <form action="/quote" method="post" class="row align-items-center">
        <div class="col-4">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="quote-symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="col-4">
            <button id="quote-btn" class="btn btn-primary" type="submit">Quote</button>
        </div>
    </form>
</div>
{% endblock %}
